<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>790799966470-8n5jgvjqa0q79puv7fjb4um5b8r2dcuo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.790799966470-8n5jgvjqa0q79puv7fjb4um5b8r2dcuo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>790799966470-0curjvnrr9vc30s9iqhffd65260up839.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDGxWZidhF077hI3PzbqVgE8rGwDPqZc6I</string>
	<key>GCM_SENDER_ID</key>
	<string>790799966470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.sniffsocial</string>
	<key>PROJECT_ID</key>
	<string>connectify-8ecad</string>
	<key>STORAGE_BUCKET</key>
	<string>connectify-8ecad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790799966470:ios:ce6627106da43c1910fe87</string>
	<key>DATABASE_URL</key>
	<string>https://connectify-8ecad-default-rtdb.firebaseio.com</string>
</dict>
</plist>